<div class="eca-actions" *ngIf="languagesLoaded">
  <button mat-flat-button type="button" color="primary" (click)="loadLetters()">Retrieve Letters</button>
</div>
<div class="eca-actions" *ngIf="languagesLoaded">
  <button mat-flat-button type="button" color="secondary" (click)="sortLetters()" [disabled]="letters?.length < 2">Sort by addressFrom</button>
  <button mat-flat-button type="button" color="secondary" (click)="sortLettersByName()" [disabled]="letters?.length < 2">Sort by Letter</button>
</div>
<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    [mode]="showProgress ? 'determinate' : 'indeterminate'"
    diameter="50"
    [value]="percentComplete"
    >
  </mat-progress-spinner>
</div>

<div *ngIf="letters?.length > 0 else emptyList">
    <ul>

      <br><br>
      <hr>

      <div class="eca-actions">
        <mat-checkbox
        labelPosition="before"
        tabindex="-1"
        [(ngModel)]="showEnabledLetters" 
        >Show enabled</mat-checkbox>  
        <mat-checkbox
        labelPosition="before"
        tabindex="-1"
        [(ngModel)]="showDisabledLetters" 
        >Show disabled</mat-checkbox>  
      </div>

      <div class="eca-actions">
        <mat-label>Set addressFrom values:</mat-label>
        <input 
          matInput 
          type="text" 
          class="wideinput" 
          id="setAllValues"
          (ngModelChange)="setAllValuesChanged($event)"
          [(ngModel)]="setAllValues" 
          name="setAllValues"/>
       </div>

      <div class="eca-actions">
        <button mat-flat-button type="button" color="secondary" (click)="clearAllValues()">Clear addressFrom values</button>
       </div>

      <hr>
      <br><br>

      <div class="eca-actions">
        <button mat-flat-button color="primary" (click)="updateLetters('addressFrom Update succeeded', null)"
        [disabled]="loading || dirtyLetters() < 1">Update Letters
        </button>
      </div>

      <div *ngFor="let letter of letters">
        <li *ngIf="(showEnabledLetters && (letter.addressFromEnabled || letter.addressFromEnabledOrig)) || (showDisabledLetters && (!letter.addressFromEnabled || !letter.addressFromEnabledOrig))">
          <div [ngClass]="{'dirty': letter.isDirty()}">
            <strong>{{ letter.description }}</strong>
          </div>

          <!--
          <div>
            {{letter | json}}
          </div>
          -->

          <mat-checkbox
          labelPosition="before"
          tabindex="-1"
          (ngModelChange)="addressFromEnabledChanged($event, letter)"
          [(ngModel)]="letter.addressFromEnabled" name="addressFromEnabled"
          >enabled</mat-checkbox>  

          <mat-label>patron-facing: {{ letter.patronFacing }}</mat-label>

          <input 
            matInput 
            type="text" 
            class="wideinput" 
            id="addressFrom"
            required
            #addressFrom="ngModel"
            (ngModelChange)="addressFromChanged($event, letter)"
            [(ngModel)]="letter.addressFrom" 
            name="addressFrom"
            />
        </li> 
      </div>
      
      <div class="eca-actions">
        <button mat-flat-button color="primary" (click)="updateLetters('addressFrom Update succeeded', null)"
        [disabled]="loading || dirtyLetters() < 1">Update Letters
        </button>
      </div>
    </ul>

</div>

<div *ngIf="letters?.length > 0">
  <div *ngIf="languages?.length > 0">
    <mat-label>Language</mat-label><mat-select id="selectedLanguage" [(value)]="selectedLanguage" [disabled]="dirtyLetters() > 0" labelPosition="before">
      <div *ngFor="let language of languages">
        <mat-option [value]="language">{{language}}</mat-option>
      </div>
    </mat-select>
    <button mat-flat-button type="button" color="primary" (click)="updateTranslations()" [disabled]="dirtyLetters() > 0">Update Translations for {{ selectedLanguage }}</button>
  </div>
</div>

<ng-template #emptyList>
  <div id="emptyList">
    <span class="uxf-icon uxf-list" style="font-size: 3em;"></span>
    <div>Click 'Retrieve Letters' to load addressFrom label values.</div>
  </div>
</ng-template>
